<button {{action "showBrandForm"}} class="btn btn-block btn-default">Create Brand</button>
{{#if showBrandForm}}
  {{new-brand createBrand="createBrand"}}
{{/if}}

<button {{action "showShopForm"}} class="btn btn-block btn-default">Create Shop</button>
{{#if showShopForm}}
  {{new-shop
    brands=brands
    createShop="createShop"
    createTempCategory='createTempCategory'
    createTempAisle='createTempAisle'
  }}
{{/if}}

<button {{action "showEditShop"}} class="btn btn-block btn-default">Edit Shop</button>
{{#if showEditShop}}
  <h3>Edit Shop</h3>
  <label>Select a Shop</label>
  {{#power-select
    selected=currentShop
    options=shops
    onchange=(action (mut currentShop))
    as |shop|
  }}
    {{shop.name}}
  {{/power-select}}
  <button {{action "showNewAisleForm"}} class="btn btn-default">New Aisle</button>
  {{#if showNewAisleForm}}
    {{new-aisle shop=currentShop}}
  {{/if}}

  <button {{action "showNewCategoryForm"}} class="btn btn-default">New Category</button>
  {{#if showNewCategoryForm}}
    {{new-category shop=currentShop}}
  {{/if}}

  <button {{action "showNewProductForm"}} class="btn btn-default">New Product</button>
  {{#if showNewProductForm}}
    {{new-product shop=currentShop}}
  {{/if}}
{{/if}}
