<form>
  <div class="form-group">
    <label for="shopBrand">Brand</label>
    {{#power-select
      selected=shopBrand
      options=brands
      onchange=(action (mut shopBrand))
      as |brand|
    }}
      {{brand.name}}
    {{/power-select}}
  </div>
  <div class="form-group">
    <label for="shopName">Name</label>
    {{input value=shopName class="form-control" placeholder="Shop Name"}}
  </div>
  <div class="form-group">
    <label for="shopAddress">Address</label>
    {{input value=shopAddress class="form-control"}}
  </div>

  {{new-aisle
    allAisles=allAisles
    allCategories=allCategories
    createTempCategory='createTempCategory'
    createTempAisle='createTempAisle'
  }}

  <div class="form-group">
    {{#if shop}}
      <button {{action "updateShop" shop}} class="btn btn-primary">Update Shop</button>
    {{else}}
      <button {{action "createShop"}} class="btn btn-primary">Create Shop</button>
    {{/if}}
  </div>
</form>
