<h3>Add Aisles</h3>
<form>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover">
            <tr>
              <th class="col-sm-1">
                <label for="aisleNumber">Aisle</label>
              </th>
              <th class="col-sm-10">
                <label for="aisleCategories">
                  Categories
                  <span class="help-block">
                    {{categoryAlert}}
                  </span>
                </label>
              </th>
              <th class="col-sm-1">

              </th>
            </tr>
            <tr>
              <td>
                {{input
                  value=aisleNumber
                  class="form-control"
                  placeholder="#"
                }}
              </td>
              <td>
                {{#power-select-multiple
                  options=shopTemp.availableCategories
                  selected=shopTemp.aisleCategories
                  placeholder="Type category then press enter to add"
                  searchField="name"
                  onchange=(action (mut shopTemp.aisleCategories))
                  onkeydown=(action 'findOrCreateCategory')
                  as |category|
                }}
                  {{category.name}}
                {{/power-select-multiple}}
              </td>
              <td>
                <button type="button" {{action 'createTempAisle'}} class="btn btn-primary">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
                  Save Aisle
                </button>
              </td>
            </tr>
            <tbody>
              {{#each shopTemp.allAisles as |aisle|}}
                <tr>
                  <td>
                    {{aisle.number}}
                  </td>
                  <td>
                    {{#each aisle.categories as |category|}}
                      <span class="category-name">{{category.name}}</span>
                    {{/each}}
                  </td>
                  <td>
                    <button type="button" {{action 'removeAisle' aisle}} class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      Remove Aisle
                    </button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
