<h3>Add Aisles</h3>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-3 aisle-inline-form-col">
        <label for="aisleNumber">Aisle #</label>
        {{input
          value=aisleNumber
          class="form-control"
          placeholder="#"
        }}
      </div>

      <div class="col-sm-9 aisle-inline-form-col">
        <label for="aisleCategories">Categories</label>
        <div class="input-group">
          {{#power-select-multiple
            options=allCategories
            selected=categories
            placeholder="Select Categories"
            onchange=(action (mut categories))
            as |category|
          }}
            {{category}}
          {{/power-select-multiple}}
          <div class="input-group-btn">
            <button {{action 'addCategories' shop}} class="btn btn-primary">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ul>
        {{#each aisles as |aisle|}}
          <li>{{aisle.name}}: {{name-list aisle.categories}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
