<h3>Add Aisles</h3>
<form>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 aisle-inline-form-col">
          <label for="aisleNumber">Aisle #</label>
          {{input
            value=aisleNumber
            class="form-control"
            placeholder="#"
          }}
        </div>

        <div class="col-sm-9 aisle-inline-form-col">
          <label for="aisleCategories">Categories</label>
          <div class="input-group">
            {{#power-select-multiple
              options=shopTemp.allCategories
              selected=shopTemp.aisleCategories
              placeholder="Select Categories"
              searchField="name"
              onchange=(action (mut shopTemp.aisleCategories))
              onkeydown=(action 'findOrCreateCategory')
              as |category|
            }}
              {{category.name}}
            {{/power-select-multiple}}
            <div class="input-group-btn">
              <button type="button" {{action 'createTempAisle'}} class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover">
            <tbody>
              {{#each shopTemp.allAisles as |aisle|}}
                <tr>
                  <td>
                    {{aisle.number}}
                  </td>
                  <td>
                    {{name-list aisle.categories}}
                  </td>
                  <td>
                    <button type="button" {{action 'removeAisle' aisle}} class="btn btn-xs btn-danger">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
