<h3>{{shop.brand.name}}: {{shop.name}}</h3>
<p>
  {{shop.address}}
</p>

<label for="productToAdd">Add A Product to Your List</label>
{{#power-select
  options=products
  placeholder="Enter Products"
  searchField="name"
  onchange=(action 'addProductToListOrCategorize')
  onkeydown=(action 'findOrCreateProduct')
  as |product|
}}
  {{product.name}}
{{/power-select}}

{{#if productCategoryFormIsShowing}}
  {{product-category-form
    productName=newProductName
    currentProduct=currentProduct
    categories=categories
    list=list
    action=productCategoryFormAction
    createProductAndAddToList='createProductAndAddToList'
    categorizeProductAndAddToList='categorizeProductAndAddToList'
  }}
{{/if}}

<h2>Shop Aisles</h2>
<ul>
  {{#each aisles as |aisle|}}
    <li>
      {{aisle.number}}:
      {{#each aisle.categories as |category|}}
        <span class="category-name">{{category.name}}</span>
      {{/each}}
    </li>
  {{/each}}
</ul>


<h2>Shop Categories</h2>
<ul>
  {{#each categories as |category|}}
    <li>{{category.name}}</li>
  {{/each}}
</ul>

<h2>All Products</h2>
<ul>
  {{#each products as |product|}}
    <li>{{product.name}}</li>
  {{/each}}
</ul>

<h2>Shop Products</h2>
<ul>
  {{#each shopProducts as |product|}}
    <li>{{product.name}}</li>
  {{/each}}
</ul>

<h2>List Products</h2>
<ul>
  {{#each listProducts as |product|}}
    <li>
      {{product.name}}: {{product.category.name}}
    </li>
  {{/each}}
</ul>
