<h3>{{shop.brand.name}}: {{shop.name}}</h3>
<p>
  {{shop.address}}
</p>

<label for="productToAdd">Add A Product to Your List</label>
{{#power-select
  options=products
  placeholder="Enter Products"
  searchField="name"
  onchange=(action 'addProductToListOrCategorize')
  onkeydown=(action 'findOrCreateProduct')
  as |product|
}}
  {{product.name}}
{{/power-select}}

{{#if productCategoryFormIsShowing}}
  {{product-category-form
    productName=newProductName
    currentProduct=currentProduct
    categories=categories
    list=list
    action=productCategoryFormAction
    createProductAndAddToList='createProductAndAddToList'
    categorizeProductAndAddToList='categorizeProductAndAddToList'
  }}
{{/if}}

<h3>My List</h3>
<ul class="list-group">
  {{#each listEntries as |entry|}}
    <li class="list-group-item">
      <h4>
        {{entry.aisleNumber}}:
        {{#each entry.categories as |category|}}
          <span class="category-name">{{category.categoryName}}</span>
        {{/each}}
      </h4>
      {{#each entry.categories as |category|}}
        {{#each category.products as |product|}}
        <div class="checkbox">
          <label>
            {{input type='checkbox'}} {{product.name}}
          </label>
        </div>
        {{/each}}
      {{/each}}
    </li>
  {{/each}}
</ul>
